.message{
    width: 50%;
    padding: 1em;
    bottom: 1px solid #000;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 5px;
}

.success{
    color: #155724;
    background-color: rgb(10, 210, 4);
    border-color: white;
}

.error{
    color: red;
    background-color: #F8D7DA;
    border-color: #F5c6cb;
}