.navBar{
    display: flex;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: end;
    background-image: linear-gradient(to right, rgb(169, 0, 1049), rgb(112, 0, 110), rgb(112, 0, 110), rgb(169, 0, 1049));
}

.icon{
   padding: 30px;

}

.navBar ul{
    list-style: none;
    display: flex;
    margin-right: 40px;
}

.navBar li{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 20px;
}

.navBar a{
    color: white;
    padding: 30px;
    transition: 0.3s;
    text-decoration: none;
}

.navBar a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}